<div id="share">
  <p id="notice"><%= notice %></p>

  <h3 id="title">Processos compartilhados comigo</h3>
  <div class="main">
    <table>
      <thead>
        <tr>
          <th class="title-tb">Número</th>
          <th class="title-tb">Descrição</th>
        </tr>
      </thead>

      <tbody>
        <% @shares.each do |share| %>
          <tr>
            <td><%= link_to share.lawsuit.number, share.lawsuit %></td>
            <td><%= share.lawsuit.description %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>