<div class="main">
	<ul>
		<li> 
			<%= link_to lawsuits_path do %>
				<span class="material-icons icons-main">library_books<p>Processos</p></span>
			<% end %>
		</li>

		<li>
			<%= link_to clients_path do %>
				<span class="material-icons icons-main">supervisor_account<p>Clientes</p></span>
			<% end %>
		</li>

		<li>
			<%= link_to lawsuits_path do %> 
				<span class="material-icons icons-main">assignment<p>Relatório<br>Financeiro</p></span>
			<% end %>
		</li>

		<li>
			<%= link_to lawsuits_path do %> 
				<span class="material-icons icons-main">assignment<p>Relatório<br>Processos</p></span>
			<% end %>
		</li>
	</ul>
</div>