<div class="main">
	<strong id="notice"><%= notice %></strong>
	<table>
		<thead>
			<tr>
				<th class="title-tb">Processo</th>
		    	<th class="title-tb">Cliente</th>
		    </tr>
		</thead>

		<tbody>
		   	<% @lawsuits.each do |lawsuit| %>
		   	<tr>
		      	<td class="nro-processo"><%= link_to lawsuit.number, lawsuit %></td>
		      	<td><%= link_to lawsuit.client.name, lawsuit.client %></td>
		   	<% end %>
		</tbody>
	</table>
	<div class="paginate"><%= will_paginate @lawsuits %></div>
	
</div>