/*
 *= require_tree .
 *= require_self
 */
html{
   font-family: 'Taviraj', serif;
   background-color: rgba(242,242,242,0.5);
   font-size: 12px;
   margin: 0;
   padding: 0;
}

li { list-style-type: none; }
ul { margin: 0; 
	padding:0;
}
a{ text-decoration: none; }
a:hover {
	background-color:rgba(255,255,255,0.0); 
	color: black;
}
a:link {
	text-decoration: none; 
	background-color:rgba(255,255,255,0.0); 
	color: black;
}
a:visited {
	text-decoration: none; 
	background-color:rgba(255,255,255,0.0); 
}
body {
	background-color: rgba(242,242,242,0.5);
	margin: 0; 
	padding: 0; 
	width: 100%; 
	height: 100%;
}
#dv-main{
	width: 96%;
	margin-right: 2%;
	margin-left: 2%;
}
/******************************** BANNER ***************************/
header {
	float: left;
	text-align: center; 
	width: 100%; 
	height: 22px;
	font-size: 75%;
}
header strong{
	background-color: rgba(255,255,255,0.0);
	color: #f5f5f5;
}

.bg-gradiente { background-color:  rgba(153, 0, 0, 0.8); }
.menu{
	background-color: rgba(0, 128, 0, 0.7);
	width: 100%;
	float: left;
}
.bar-icon {
		background-color: rgba(255,255,255,0.0);
		color: #F5F5F5;
		float: right;
		font-size: 150%;
		padding: 1% 0;
		margin-right: 2%;
}
/********************MENU***********************************************/
#menu{
	width: 100%;
	float: left;
	margin:0 0 1% 0;
}
#menu ul{ 
	width: 96%;
	float: left;
}
#menu li{
	font-size:115%;
	float: left;
	padding: 2% 2% 2% 2%;
}
#menu li:first-child{
	padding-left: 3%;
	padding-right: 3%;

}
#menu li:hover{
	background: #cccccc;
}
#menu a {
	color: #009900;
}
.active{
	background: #cccccc;
}
/******************LOGIN***********************************************/
#usuario{
	width: 100%;
	float: left;
	margin-bottom: 8%;
}
#user-name, #user-senha, #user-senhac, #user-senhaa input{border-radius: 5px;}
#user-name, #user-senha, #user-senhac, #user-senhaa{
	float: left; 
	margin-bottom: 2%; 
	width: 99%;
}
#login{
	color: #009900;
	float: left;
	margin: 15% 8% 0 10%;
	width: 82%;
	text-align: center;
}
#login strong{font-size: 110%}
#fields{
	width: 100%;
	margin-top: 3%;
	float: left;
	text-align: left;
}
#fields input {
	border-radius: 5px;
	width: 90%;
}
#lembrar-me{
	margin-top: 1%;
	float: left;
	width: 100%;
}
#lembrar-me label{
	padding-top: 1%;
	width: 50%;
	float: left;
}
#lembrar-me input{
	float: left; 
	width: 5%;
}
#links{
	float: left;
	width: 100%;
	margin-top: 4%;
}
#btn-login{
	padding: 2% 5%;
	margin-top: 3%;
	background-color: #00b300;
	color: #F2F2F2;
	text-align: center;
	font-size: 120%;
	float: none;
}
/***************************OUTROS****************************************************/
.btn{
	float: left;
	border-radius: 5px;
	border-style: solid;
	border-width: thin;
	border-color: #009900;
	padding: 1%;
	background-color: white;
}
.btn:hover{
	color: #009900;
}
.paginate{
	float: left;
	margin-left: 3%;
	margin-bottom: 8%;
}
.nro-processo a{ text-decoration: underline;	}
#notice {
	margin-bottom: 1%;
	margin-top: 1%;
	float: left;
	width: 100%;
	text-align: center;
}
/*************************************** RODAPE ******************************************/
footer { 
	width: 100%; 
	bottom: 0; 
	padding: 0; 
	text-align: center;
	position: fixed;
	margin-top: 10%
}
.text-footer {
	font-size: 75%; 
	color: #f5f5f5; 
	padding: 0;  
	background-color: rgba(255,255,255,0.0);
}
/*****************************RESPONSIVIDADE MIN-WIDTH**************************************/
@media screen and (min-width: 420px){
	#login{
		margin-left: 15%;
		margin-right: 15%;
		width: 70%;
	}
	#dv-main{ 
		width: 92%;
		margin-left: 4%;
		margin-right: 4%;
	}
	header {font-size: 95%;}
}
@media screen and (min-width: 520px){
	#login {
		margin: 10% 20%;
		width: 60%;
	}
	#login strong{font-size: 125%}
	#dv-main{
		width: 90%;
		margin:0 5% 0 5%;
	}
	.btn-novo{margin-bottom: 2%;}
	footer{ font-size: 105%; }
}

@media screen and (min-width: 620px){
	#login {
		margin: 10% 25%;
		width: 50%;
	}
	#lembrar-me label{
	padding-top: 0.5%;
	}
	#login label, input{  font-size: 115%; }
	header { font-size: 100%; }
	footer { font-size: 110%; }
	#dv-main{
		width: 84%;
		margin:0 8% 0 8%;
	}
	#menu li{
		font-size:130%;
	}
}

@media screen and (min-width: 720px){
	#login strong{font-size: 120%}

	.paginate a{font-size: 120%;}
	#dv-main{
		width: 80%;
		margin:0 10% 0 10%;
	}
	.bar-icon{
		padding: 0.5% 0;
		font-size: 170%;
	}
	.btn-novo{
		margin-bottom: 1%;
	}
}

@media screen and (min-width: 820px){
	#login{
		margin-right: 30%;
		margin-left: 30%;
		width: 40%;
	}
	#lembrar-me label{padding-top: 0.2%;}
	.btn-novo{margin-top: 1%;}
}

@media screen and (min-width: 920px){
	#dv-main{
		width: 70%;
		margin:0 15% 0 15%;
	}
}
@media screen and (min-width: 1020px){
	#lembrar-me label{padding-top: 0;}
	
}
@media screen and (min-width: 1120px){
	
	#login strong{font-size: 135%;}
	#btn-login{font-size: 100%;}
}