#novo-cliente{
	margin: 0 2% 10% 2%;
	width: 96%;
	padding: 0;
	float: left;
	input, select, textarea{border-radius: 5px;}
	textarea{width: 80%; height: 50px;}
}
#title{
	color: #003300;
	float: left;
	text-align: center;
	width: 98%;
	margin:0;
}
#btn-block{
	float: left;
	margin: 3% 0;
	width: 100%;
}
#btn-salvar{	
	float: left;
	text-align: center;
	background-color: rgba(0, 153, 0, 0.5);
	color: white;
	width: 30%;
	margin-left: 2%;
	border: none;
	padding: 1.65%;
}
#btn-voltar{
	float: left;
	text-align: center;
	width: 25%;
}
#cliente-name, #cliente-lname, #cliente-cpf, #cliente-born, #cliente-sex, #cliente-rg, #cliente-email, #cliente-telephone, #cliente-celphone, #cliente-bio, #cliente-addresstype, #cliente-street, #cliente-district, #cliente-city, #cliente-state, #cliente-zipcode{
	float: left;
	margin-bottom: 2%;
	input, textarea{
		border-radius: 5px;
		width: 99%;
	}
}
#cliente-name{width: 25%;}
#cliente-lname{
	width: 70%;
	margin-left: 3%;
}
#cliente-born{width: 70%;}
#cliente-sex{width: 18%;}
#cliente-cpf{width: 50%;}
#cliente-rg{
	width: 45%;
	margin-left: 3%;
}
#cliente-email{width: 98%;}
#cliente-telephone, #cliente-celphone{width: 47.5%;}
#cliente-celphone{margin-left: 3%;}
#cliente-bio{width: 98%;}
#cliente-addresstype{width: 98%;}
#cliente-street{width: 98%;}
#cliente-district, #cliente-city{width: 47.5%}
#cliente-city{margin-left: 3%;}
#cliente-state{width:20%;}
#cliente-zipcode{
	margin-left: 3%;
	width: 50%;
}
#cliente-info{
	color: #003300;
	float: left;
	width: 100%;
	margin-bottom: 15%;
}
#cliente-action{
	float: left;
	width:95%;
	margin-left: 5%;
	li{
		margin-right: 5%;
		float: left;
	}

}
/*****************************RESPONSIVIDADE*******************************************/
@media screen and (min-width: 420px){
	#btn-salvar{padding: 1.4%}
	#btn-salvar, #btn-voltar{width:20%;}
}
@media screen and (min-width: 520px){
	#btn-voltar{padding: 0.9%;}
	#btn-salvar{padding: 1.2%;}
}
@media screen and (min-width: 620px){
	#btn-salvar, #btn-voltar{width:17%;}
}
@media screen and (min-width: 720px){
	#cliente-born{width:40%}
	#cliente-cpf{
		margin-left: 2%;
		width: 37.5%;
	}	
	#cliente-rg{
		margin-left: 0;
		width: 25%;
	}
	#cliente-email{
		margin-left: 2%;
		width: 71%;
	}
	#cliente-district{width:30%;} 
	#cliente-city{width: 30%;}
	#cliente-state{
		width: 10%;
		margin-left: 2%;
	}
	#cliente-zipcode{
		width: 20%;
		margin-left: 2%;
	}
}

@media screen and (min-width: 820px){
	#btn-salvar, #btn-voltar{width:15%;}
}
@media screen and (min-width: 920px){
	#btn-salvar{padding:1%}
	#btn-voltar{padding: 0.7%;}
}
@media screen and (min-width: 1020px){
	#btn-voltar{width:14%; font-size: 110%;}
	#btn-salvar{padding: 0.9%;}
}
@media screen and (min-width: 1120px){
	#btn-salvar, #btn-voltar{width:10%;}
}