/****************************Index*****************************************/
#dv-search{
	width: 100%;
	float: left;
	margin: 0% 0 2% 0;
	padding: 0;

}
#fields-search{
	padding: 0;
	float: left;
	color: #330000;
	width: 45%;
	input{	
		height: 25px;
		padding: 1%;
		border-radius: 5px;
		float: left;
		width: 100%;
	}
}
#btn-searchl{
	margin-left: 1%;
	margin-right: 1%;
	width: 25%;
	text-align: center;
}
#btn-novol{
	text-align: center;
	background-color: rgba(0, 153, 0, 0.5);
	color: white;
	width: 25%;
	border: none;

}
#btn-back{margin-left: 2%;}
/*************************Show**********************************************************/
.info-processo{
	float: left;
	width: 100%;
	color: #003300;
	#processo{font-size: 140%;}
	hr{
		float: left; 
		width: 100%;
		margin: 1% 0;
		color: #003300;
	}

}
.option{
	width: 100%;
	float: left;
	li{
		margin-bottom: 1%;
		margin-right: 3%;
		padding: 0 1%;
		float: left;
		text-align: center;
		a{
			text-decoration: underline;
			color:  #003300;
		}
	}
	li:first-child{margin-left: 20%;}
}
.share{
	margin-top: 1%;
}
.share, .comentario, .anexo, .pagamento{
	float: left;
	width: 100%;
	.btn{
		margin-top: 0;
		float: right;
	}
}
.pagamento{
	margin-bottom: 10%;
}
/*********************EDITAR***************************************************/
#novo-processo{
	float: left;
	width: 100%;
	color: #003300;
	margin-bottom: 10%;
}
#processo-number, #processo-assessment, #processo-venue, #processo-description, #processo-amount, #processo-kind, #processo-status{
	float: left;
	margin-bottom: 2%;
	input, textarea{
		border-radius: 5px;
		width: 99%;
	}
	select{border-radius: 5px;}
}
#processo-description{
	textarea{height: 50px;}
	width: 98%;
}
#processo-amount{width: 20%;}
#processo-venue{
	margin-left: 4%;
	width: 35%;
}
#processo-status{margin-left: 2%;}
/*******************RESPONSIVIDADE*********************************************/
@media screen and (min-width: 420px){
	#fields-search{ width: 50%;	}
	#btn-searchl, #btn-novol{width: 20%;}
	#btn-novol{padding: 0.6%;}
	#btn-searchl{padding: 0.5%;}
	#processo-number{width: 40%;}
	#processo-assessment{
		width: 55%;
		margin-left: 3%;
	}
}
@media screen and (min-width: 520px){
	#fields-search{width: 45%}
	#btn-searchl{width: 17%}
	#btn-novol{
		width: 17%;
		padding: 0.7%;
	}
	.share, .comentario, .anexo, .pagamento{strong{font-size: 115%;}}
	#processo-amount{width: 25%}
	#processo-venue{width: 38%;}
	#processo-status{margin-left:0}
}

@media screen and (min-width: 620px){
	#title{margin-bottom:1%}
	#btn-save{width: 25%;}
	#btn-novol, #btn-searchl{width: 15%;}
	#btn-novol{padding: 0.6%;}
	#processo-amount{width: 22%}
}

@media screen and (min-width: 720px){
	.share, .comentario, .anexo, .pagamento{strong{font-size: 125%;}}
	.info-processo{font-size: 110%;}
	.option{li{font-size: 110%;}}
	#btn-novol{padding: 0.55%;}
	#processo-amount{width: 20%}
	#processo-venue{width: 30%;}
	#processo-kind{width: 20%;}
	#processo-status{width:25%}
	#novo-processo{font-size: 105%}
}
@media screen and (min-width: 820px){
	#novo-processo{
		margin-left: 8%;
		margin-right: 8%;
		width:84%;
	}
	#fields-search{width: 35%}
	#btn-novol, #btn-searchl{width: 12%;}
}
@media screen and (min-width: 1020px){
	#btn-novol, #btn-searchl{padding: 0.4%;}
	#novo-processo{
		margin-left: 10%;
		margin-right: 10%;
		width:80%;
	}
}
@media screen and (min-width: 1120px){
	#fields-search{width: 30%}
	#btn-novol, #btn-searchl{
		width: 10%;
	}
	#btn-searchl{padding:0.3%;}
	#novo-processo{
		margin-left: 12%;
		margin-right: 12%;
		width:76%;
	}
}