/****************************Index*****************************************/
#dv-search{
	width: 100%;
	float: left;
	margin: 0% 0 2% 0;
	padding: 0;

}
#fields-search{
	padding: 0;
	float: left;
	color: #330000;
	width: 45%;
	input{	
	padding: 1%;
	border-radius: 5px;
	float: left;
	width: 100%;
	}
}
#btn-search{
	margin-left: 1%;
	margin-right: 1%;
	width: 25%;
	text-align: center;
}
#btn-novo{
	text-align: center;
	background-color: rgba(0, 153, 0, 0.5);
	color: white;
	width: 25%;
	border: none;
}
/*************************Show**********************************************************/
.info-processo{
	float: left;
	width: 100%;
	color: #003300;
	#processo{font-size: 140%;}
	hr{
		float: left; 
		width: 100%;
		margin: 1% 0;
		color: #003300;
	}

}
.option{
	width: 100%;
	float: left;
	li{
		margin-bottom: 1%;
		margin-right: 3%;
		padding: 0 1%;
		float: left;
		text-align: center;
		a{
			text-decoration: underline;
			color:  #003300;
		}
	}
	li:first-child{margin-left: 20%;}
}
.share{
	margin-top: 1%;
}
.share, .comentario, .anexo, .pagamento{
	float: left;
	width: 100%;
	.btn{
		margin-top: 0;
		float: right;
	}
}
.pagamento{
	margin-bottom: 10%;
}
/*********************EDITAR***************************************************/
.editar{
	float: left;
	width: 100%;
	margin-top: 1%;
	margin-bottom: 5%;
	text-align: center;
	color: #003300;
	strong{text-decoration: underline;}
	.btn{
		margin-top: 3%;
		margin-right: 2%;
		margin-bottom: 3%;
		float: left;
	}
	input, textarea, .slc-info{
		select{width: 100%;}
		width: 100%;
		border-radius: 5px;
	}
	select{border-radius: 5px;}
	textarea{
		width: 100%;
		height: 50px;
	}
	.info{
		width: 86%;
		float: left;
		text-align: left;
		margin: 0 7% 1% 7%;
	}
	#btn-save{width: 40%;}
}
/*******************RESPONSIVIDADE*********************************************/
@media screen and (min-width: 420px){
	#fields-search{ width: 50%;	}
	#btn-search{width: 20%;}
	#btn-novo{width: 20%;}
}
@media screen and (min-width: 520px){
	#fields-search{width: 45%}
	#btn-search{width: 17%}
	#btn-novo{width: 17%;}

	.share, .comentario, .anexo, .pagamento{strong{font-size: 115%;}}
}

@media screen and (min-width: 620px){
	.editar{ 
		strong{font-size: 110%;}
		.info{margin: 1% 0 0 0;}
		.block-first{
			width: 47.5%;
			float: left;
			margin-right: 2.5%;
			textarea{height: 60px;}
		}
		.block-second{
			margin-left: 2.5%;
			margin-bottom: 3%;
			width: 47.5%;
			float: right;
		}
		#btn-save{width: 25%;}
		#btn-novo, #btn-search{padding:0; width: 15%;}
	}
}

@media screen and (min-width: 720px){
	.share, .comentario, .anexo, .pagamento{strong{font-size: 125%;}}
	.info-processo{font-size: 110%;}
	.option{li{font-size: 110%;}}
}
@media screen and (min-width: 820px){
	#fields-search{width: 35%}
	#btn-novo, #btn-search{width: 12%;}
}
@media screen and (min-width: 1120px){
	#fields-search{width: 30%}
	#btn-novo, #btn-search{width: 10%;}
}