.main {
	height: 100%;
	margin: 0;
	text-align: center; 
	li { 
		margin: 2% 0% 0% 3%;
		float: left;
	}

	li:nth-child(1) span{color: #1E90FF;}
 	li:nth-child(2) span{color: #66CDAA;}
 	li:nth-child(3) span{color: #FF8C00;}
 	li:nth-child(4) span{color: #BC8F8F;}
 	span {float: left;}
 	p {	margin:0;
		color: gray; 
		text-align: center;
	}
}

@media screen and (min-width: 400px){
	.main {
		li { 
			margin: 3% 0% 0% 15%;
			float: left;
		}
		li:nth-child(4) {margin-bottom: 10%;}
	}
}