.main {
	margin: 0;
	text-align: center; 
	float: left;
	width: 100%;
	ul{	
		width:100%;
		li {
			margin: 0% 0% 0% 3%;
			float: left;
			span {
				color: #A52A2A;
				float: left;
				p {	
					margin:0;
					text-align: center;
				}
			}
		}
	}

	table {
		width:95%;
		float: left;
		margin: 5% 0% 10% 3%;
		.nro-processo{ a{ text-decoration: underline;	}	}
		.title-tb{
			border-radius: 5%;
			color: #A52A2A;
			background-color:  #D7D7D7;
			padding-top: 1%;
		}
		a{color: #330000;}
		a:hover{
			color: #A52A2A;
		}
		td {
			padding: 4% 0 0 0;
			border-bottom-color: #D7D7D7;
			border-bottom: inset;
			border-bottom-width: thin;
		}
		td:hover{background-color:#D7D7D7; a{ color: #A52A2A;}}
	}
}

@media screen and (min-width: 320px){
	.main {
		table{
			width: 95%;
			margin: 3% 0% 0 2%;}
		ul{
			width: 95%;
			margin: 2% 0 0 4%;}
	}	
}

@media screen and (min-width: 360px){
	.main {
		ul{
			width: 90%;
			margin-left: 8%;}
	}	
}

@media screen and (min-width: 420px){
	.main {
		ul{ 
			width: 85%;
			margin: 4% 0% 0% 12%;
		}
		table {	margin: 0% 0 10% 3%; }
	}	
}

@media screen and (min-width: 480px){
	.main {
		ul{ 
			width: 75%;
			margin-left: 18%;
		}
	}	
}

@media screen and (min-width: 550px){
	.main {
		ul{	
			margin-left: 20%; 
		}
		table {
			width: 90%;
			margin-left: 5%;
			margin-top: 3%;
		}
	}
}

@media screen and (min-width: 620px){
	.main {
		ul{	
			margin-left: 25%; 
			li{	span{ font-size:270%;}	}
		}
		table{
			th{ font-size:115%; } 
			a{ font-size:110%; }
		}
	}
}

@media screen and (min-width: 768px){
	.main {
		ul{	
			li{	
				margin-left: 5%;
				span{ font-size:290%;}	}
		}
	}
}

@media screen and (min-width: 920px){
	.main {
		ul{	
			margin-left: 18%;
			li{	
				margin-left: 10%;
				span{ font-size:400%;}	}
		}
		table{
			th{ font-size:125%; }
		}
	}
}